[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pydantic = "*"
pydantic_settings = "*"

psycopg2-binary = "*"
pandas = "*"

scikit-learn = "*"
fastembed = "*"
huggingface_hub = "*"
openai = "*"

streamlit = "*"
flask = "*"
gunicorn = "*"

[dev-packages]
jupyter = "*"
notebook = "==7.1.2"
tqdm = "*"
ipywidgets = "*"

requests = "*"
pgcli = "*"

optuna = "*"
minsearch = "*"
questionary = "*"

[requires]
python_version = "3.12"
